body {
  font-family: "Fira Sans Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  opacity: 0.8;
}

a.button {
  color: white;
  background-color: #006d77;
  padding: 0.5em 1.5em;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid transparent;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  color: #fff;
  text-align: center;
  height: 70vh;
  position: relative;
  display: grid;
}

.logo-container {
  height: 80px;
}
.logo {
  width: 100px;
}
.hero-container h1 {
  font-size: 32px;
  z-index: 0;
}
.hero-container .hero-img {
  position: absolute;
  inset: 0;
  top: 80px;
  width: 100%;
  height: 90%;
  object-fit: cover;
  z-index: -1;
}
.message {
  margin-top: 3em;
}
.products {
  background-color: #fff;
  border-radius: 5px;
  padding: 1em;
  margin-top: 2em;
}
.product {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
.product img {
  max-width: 100%;
  height: 300px;
}
.product h2 {
  font-size: 20px;
  margin: 10px 0;
}
.product p {
  font-size: 16px;
}

.unsubscribe-link-container {
  text-align: center;
  margin: 1em auto 2em;
}
.unsubscribe-link {
  border: 1px solid #006d77;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

footer .container {
  background-color: #e8eaed;
  color: #5b5c5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

footer .logo {
  width: 100px;
  height: auto;
}
footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

footer .copyright {
  display: flex;
  gap: 0.5em;
}

.copyright img {
  width: 16px;
}

@media (min-width: 500px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product {
    width: 45%;
  }
}
